#update-button {
	margin: 10px !important;
}

#questions {
	padding-bottom: 15px;
}
#short-form-label, #long-form-label {
    color: #fff;
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    min-width: 200px;
    height: 40px;
    padding: 20px 12px 30px 5px;
    font-family: Avenir;
    font-size: 16px;
    line-height: 1.42857143;
    font-weight: lighter;
  }
  #short-form-answer, #long-form-answer {
	display: block;
	margin: auto;
	min-width: 200px;
	height: 40px;
	padding: 20px 12px 20px 15px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 8px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  #long-form-answer {
	/* max-width: 470px; */
	height: 160px;
	padding-top: 12px;
  }  
th {
	background-color: #3891b8;
	color: white;
	/* width: 100px; */
	text-align: left;
	font-family: Avenir;
	font-size: 15px;
	height: 50px;
	vertical-align: middle !important;
}

tr {
	background-color: white;
	/* width: 100%; */
}

td {
	text-align: left;
	/* width: 200px !important; */
	vertical-align: middle !important;
	font-weight: lighter;
}

tr:hover {
	background-color: #f2f4f7;
}

.table {
	display: table !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 800px;
}

/* rounding corners */
thead th:first-child {
	border-radius: 10px 0 0 0;
}

thead th:last-child {
	border-radius: 0 10px 0 0;
}

tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px !important;
}
tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}